.App {
  text-align: center;
  padding-top: 60px; /* Adjust this value to match the height of the navbar */
  padding-bottom: 50px; /* Adjust this value to match the height of the footer */
}

/* Navbar-specific styles */
.navbar {
  background-color: #171d29;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 60px; /* Fixed height for the navbar */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.navbar-logo span {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.2rem;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 0.8rem;
  margin-left: 1.5rem;
}

.navbar-link {
  color: white;
  font-family: 'Adamina', serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.navbar-link:hover {
  color: #6A0DAD;
}

.navbar-right {
  display: flex;
  gap: 0.8rem;
}

.navbar-button {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.support-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-container {
  position: relative;
  z-index: 1100; /* Ensuring profile container stays on top */
}

.profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1200; /* Ensuring dropdown menu stays on top */
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  font-family: 'Adamina', serif;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Footer styling */
.footer {
  background-color: #171d29;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Adamina', serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.9rem;
}
